*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'Montserrat';

}
header{
    background-image:  url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
}
.head{
    height: 100vh;
    overflow: hidden;
}
.logo {
    float: left;
    
    margin-top: 15px;
    margin-left: 33px;
}

.logo img {
    width:130px;
    height: 60px;
}
.menu {
    float: left;
    margin-top: 35px;
    margin-left: 34%;
   
}

.menu ul li{
    float: left;
    padding-left: 30px;
    font-size: 22px;

}
.menu ul li a{
    text-decoration: none;  
    color: #fff;
}
.slider{
    margin:15% 0px 0px 43%;
}
header h2{
    font-family: 'Grand Hotel', cursive;
  
    font-size: 120px;
    color: #ffc200;
}

.slider p{
    color: #fff;
    padding-left:30px;
    line-height: 1.4em;
    margin-bottom: 40px;
}
.slider a{
    margin: 30px;
    padding: 10px 25px;
    text-decoration: none;
    background-color: #ffc200;
    border-radius:3px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
}


.best-seller{
    margin:5%;
    text-align: center;

}

.seller-part{
    width: 20%;
    float: left;
    margin-left:10%;
    margin-top: 5%;
    padding-bottom: 10%;
}
.seller-part img{
    border-radius:50%;
    width:150px;
    height: 150px;
}


.best-seller h2{
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    font-size: 60px;
    color: #000;
}

.best-seller h3{
    font-family: 'Grand Hotel', cursive;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 10px;
    color: #333333;
}

.seller-part p{
    font-family: 'monospace';
    color: #333333;
    text-align: left;
   
}